body {background-color: lightskyblue;}

h1 {color: white;
margin-left: 30px;background-color: rgb(144, 173, 211); width: 300px;}
ol {background-color: lightslategrey;width: 120px; height: 225px; color: white; float:left}
img { height: 400px; border-style: solid; border-width: 10px;border-color: rgb(213, 225, 241);}
a {color: white;}
p {background-color: lightslategray;width: 1440px; text-align: center;border-style: solid;border-width: 20px;border-color: lightslategray;}
h2,h3,h4,h5,h6 {background-color: lightslategray;}