body {background-color: lightsteelblue;}

h1 {color: white;
margin-left: 30px;background-color: rgb(144, 173, 211); width: 300px;}
ol {background-color: lightslategrey;width: 120px; height: 225px; color: white; float:left}
img {float: right; height: 400px; border-style: solid; border-width: 10px;border-color: rgb(213, 225, 241);}
a {color: white;}
